* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'GoticaBastard';
  src: url("./fonts/GoticaBastard.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

h1 {
  color: #3E065F;
  font-family: 'GoticaBastard', sans-serif;
  font-weight: 700; }

h2 {
  color: #3E065F;
  font-family: 'GoticaBastard', sans-serif;
  font-weight: 700; }

h3 {
  color: #3E065F;
  font-family: 'GoticaBastard', sans-serif;
  font-weight: 700; }

h4 {
  color: #3E065F;
  font-family: 'GoticaBastard', sans-serif;
  font-weight: 700; }

h5 {
  color: #3E065F;
  font-family: 'GoticaBastard', sans-serif;
  font-weight: 700; }

h6 {
  color: #3E065F;
  font-family: 'GoticaBastard', sans-serif;
  font-weight: 700; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

.menu {
  background-color: #000000;
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(112, 11, 151, 0.6); }

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px; }
  .menu-items li {
    border-radius: 3px;
    margin: 0 5px; }
    .menu-items li:hover, .menu-items li .active {
      background-color: rgba(112, 11, 151, 0.3);
      transition: .4s; }
    .menu-items li a {
      padding: 7px 13px;
      font-size: 1em;
      display: block;
      text-transform: uppercase;
      color: #8E05C2; }

ul.show, ol.show {
  top: 74px; }

.logo {
  padding: 0 30px 5px 20px;
  display: flex;
  align-items: center; }
  .logo h2 {
    color: #8E05C2;
    padding-left: .3em;
    top: 1em;
    padding-top: .3em;
    font-size: xx-large; }
  .logo img {
    width: 3.4em;
    height: 3.4em; }

.menu-bars {
  display: none; }

.activelinea1-menu-bar {
  transform: rotate(45deg) translate(-2px, 1px); }

.activelinea2-menu-bar {
  opacity: 0;
  margin-left: -30px; }

.activelinea3-menu-bar {
  transform: rotate(-45deg) translate(-4px, 2px); }

.cart-nav {
  position: relative; }
  .cart-nav img {
    scale: 170%; }
  .cart-nav p {
    font-size: small;
    position: absolute;
    bottom: 12px;
    right: 17px; }

@media screen and (max-width: 858px) {
  .menu {
    height: 75px; }
  .menu-bars {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: scale(170%);
    margin-bottom: 3px;
    margin-right: 30px;
    display: block; }
    .menu-bars span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #8E05C2;
      margin-top: 6px;
      transform-origin: 0px 100%;
      transition: all 0.3s; }
  .menu-items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 45px);
    background: #3E065F;
    top: -100vh;
    text-align: center;
    transition: all ease-in-out .4s;
    flex-direction: column; }
    .menu-items li {
      margin: 20px 0 0 0;
      line-height: 70px; }
      .menu-items li:hover, .menu-items li .active {
        background: none; }
      .menu-items li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold; }
        .menu-items li a:hover {
          color: #8E05C2; }
    .menu-items .cart-nav {
      margin: 0px 0 0 0; }
      .menu-items .cart-nav img {
        scale: 200%; }
      .menu-items .cart-nav p {
        font-size: 0.9em;
        color: #8E05C2;
        top: 5px;
        left: 17px; } }

@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu-items li {
    margin: 5px 0 0 0; }
  .menu-items .menu-items {
    overflow: scroll;
    height: calc(100%-65px); } }
