.item-list {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
.item-card {
    border-radius: 1em;
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.51);
    overflow: hidden;
    margin: 1em;
    div {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    img {
        @include size(15em, 15em);
    }
    h5 {
        padding: 0.5em;
        font-size: 1.5em;
        font-family: 'HalfAss', sans-serif;
    }
    p {
        color: $color4;
        font-size: 1.3em;
        font-weight: bold;
    }
    button {
        margin: 0.4em;
        --border-radius: 15px;
        border-radius: 15px;
        --border-width: 4px;
        appearance: none;
        position: relative;
        padding: 1em 2em;
        border: 0;
        background-color: #212121;
        font-family: "Roboto", Arial, "Segoe UI", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        z-index: 2;

        &::after {
            --m-i: linear-gradient(#000, #000);
            --m-o: content-box, padding-box;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding: var(--border-width);
            border-radius: var(--border-radius);
            background-image: conic-gradient(
                   #488cfb,
                   #29dbbc,
                   #ddf505,
                   #ff9f0e,
                   #e440bb,
                   #655adc,
                   #488cfb
               );
            -webkit-mask-image: var(--m-i), var(--m-i);
            mask-image: var(--m-i), var(--m-i);
            -webkit-mask-origin: var(--m-o);
            mask-origin: var(--m-o);
            -webkit-mask-clip: var(--m-o);
            mask-composite: exclude;
            -webkit-mask-composite: destination-out;
            filter: hue-rotate(0);
            animation: rotate-hue linear 500ms infinite;
            animation-play-state: paused;
        }
        &:hover::after {
            animation-play-state: running;
        }
        &:active {
            --border-width: 5px;
        }
    }
    
    @keyframes rotate-hue {
        to {
            filter: hue-rotate(1turn);
        }
    }
       
    button, button::after {
        box-sizing: border-box;
    }
}