$color1: #000000;
$color2: #3E065F;
$color3: #700B97;
$color4: #8E05C2;

@font-face {
    font-family: 'GoticaBastard';
    src: url('./fonts/GoticaBastard.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@mixin size($a, $b) {
    width: $a;
    height: $b;
}

@for $i from 1 through 6 {
    h#{$i} {
        color: $color2;
        font-family: 'GoticaBastard', sans-serif;
        font-weight: 700;
    }
} 

ul {
    list-style: none;
}

ol {
    @extend ul;
}

a {
    text-decoration: none;
}